.body {
    font-family: 'Arial', sans-serif;
    margin-left:10%;
    margin-right:10%;
    margin-top:3%;
    text-align: center;
    background-color: #f9fff7;
}
.Filtre_Thema {
    margin-bottom: 20px;
}
/* Style pour l'étiquette du sélecteur */
.Filtre_Thema label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
/* Style pour le sélecteur lui-même */
.Filtre_Thema select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style pour le conteneur scoreContain */
.scoreContain {
    margin-bottom: 0px;
}

/* Style pour le bouton score */
#score {
    margin-right: 0px;
}

/* Style pour le conteneur scoreContainer */
#scoreContainer {
    border: 1px solid #ccc;
    width: 10%;
    border-radius: 4px;
}

header {
    background-color: #00561b;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.logo {
    margin-left: 0;
    padding-right: 80%;
    color: #fff;
    height: min-content;
}

.textlogo {
    
    margin-left: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

#etatFilter {
    display: none;
}


/* Style pour les champs de texte 
input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 4px;
}*/

/* Style pour les boutons */
button {
    display: inline-block;
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
}
