body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    margin: 40 px;
    text-align: center;
}

h1 {
    color: #fff;
}

header {
    background-color: #333; /* Couleur de fond du header */
    color: #fff; /* Couleur du texte du header */
    text-align: center;
    padding: 20px;
}

.logo {
    font-size: 2em; /* Taille du texte du logo */
    margin: 0;
    letter-spacing: 2px; /* Espacement entre les lettres */
    text-transform: uppercase; /* Convertit le texte en majuscules */
    font-weight: bold; /* Épaisseur de la police */
    /* Ajoutez d'autres styles selon vos préférences */
}
