.body {
    font-family: 'Arial', sans-serif;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Style pour le conteneur div Filtre_Thema */
.Filtre_Thema {
    margin-bottom: 20px;
}

/* Style pour l'étiquette du sélecteur */
.Filtre_Thema label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold; /* Police en gras pour l'étiquette */
}

/* Style pour le sélecteur lui-même */
.Filtre_Thema select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style pour les options du sélecteur */
.Filtre_Thema select option {
    font-size: 14px;
}

/* Style pour le conteneur scoreContain */
.scoreContain {
    position: relative;
    display: inline-block; /* Utiliser le modèle de boîte flexible pour aligner les éléments sur la même ligne */
    align-items: right;
}

/* Style pour le bouton score */
#score {
    margin-right: 10px; /* Marge à droite pour séparer le bouton du div */
}

/* Style pour le conteneur scoreContainer */
#scoreContainer {
    border: 1px solid #ccc; /* Ajouter une bordure pour délimiter le div (à titre d'exemple) */
    padding: 10px; /* Ajouter du rembourrage pour un aspect visuel amélioré */
    width: 10%;
}



header {
    background-color: #00561b; /* Couleur de fond du header */
    color: #fff; /* Couleur du texte du header */
    text-align: center;
    padding: 20px;
}

.logo {
    margin-left: 0;
    padding-right: 80%;
    color: #fff;
    position:left;
    height: min-content;
}

.textlogo {
    font-size: 2em; /* Taille du texte du logo */
    margin-left: 0;
    letter-spacing: 2px; /* Espacement entre les lettres */
    text-transform: uppercase; /* Convertit le texte en majuscules */
    font-weight: bold; /* Épaisseur de la police */
}
.scoreContain {
    display: block;
  
}
#etatFilter {
    display: none;
}